apiVersion: apps/v1
kind: Deployment
metadata:
  name: es-osctl-test
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: osctl-test
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: osctl-test
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.flant.com/opendistro-common
                operator: In
                values:
                - ""
            - matchExpressions:
              - key: node-role/opendistro-common
                operator: In
                values:
                - ""
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app: osctl-test
              topologyKey: kubernetes.io/hostname
            weight: 100
      containers:
      - name: osctl-test
        image: ghcr.io/flant/osctl:0.0.11
        command:
        - sh
        - -c
        - sleep 1000000000000000000000
        volumeMounts:
        - mountPath: /etc/ssl/certs/admin-crt.pem
          name: certs
          readOnly: true
          subPath: admin-crt.pem
        - mountPath: /etc/ssl/certs/admin-key.pem
          name: certs
          readOnly: true
          subPath: admin-key.pem
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      tolerations:
      - effect: NoSchedule
        key: dedicated.flant.com
        operator: Equal
        value: opendistro-common
      - effect: NoSchedule
        key: dedicated
        operator: Equal
        value: opendistro-common
      volumes:
      - name: certs
        secret:
          defaultMode: 420
          secretName: opendistro-tls-data
